html,
body {
	height: 100%;
}

#cover {
    height: calc(100% - 56px); /* Hauteur de la page - 56px de la navbar */
    text-align: center;
    display: flex;
    align-items: center;
}

.form-block {
    text-align : left;
    border : 2px solid black; 
    padding : 2em;
}

.button {
    text-align : center;
}