html,
body {
	height: 100%;
}

body {
    background: url("../img/wp1.jpg");
}

#cover {
    height: calc(100% - 56px); /* Hauteur de la page - 56px de la navbar */
    text-align: center;
    display: flex;
    align-items: center;
}

.form-block {
    text-align : left;
    border : 2px solid black; 
    padding : 2em;
    background: white;
}

.button {
    text-align : center;
}

footer {
    position: fixed;
    color: white;
}